<form (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div>
    <label for="lastName">Last Name</label>
    <input
      name="Last Name"
      type="text"
      [(ngModel)]="model.lastname"
      #lastname="ngModel"
      required
      minlength="5"
      maxlength="30"
    />
  </div>

  <div>
    <label for="firstName">First Name</label>
    <input
      name="firstName"
      type="text"
      [(ngModel)]="model.firstname"
      #firstname="ngModel"
      required
      minlength="5"
      maxlength="30"
    />
  </div>

  <div>
    <label for="birthday">Birthday</label>
    <input
      name="date-order"
      type="date"
      [(ngModel)]="model.birthday"
      #birthday="ngModel"
      required
    />
  </div>

  <div>
    <label for="contact">Contact</label>
    <input
      name="contact"
      type="text"
      required
      email
      #contact="ngModel"
      [(ngModel)]="model.contact"
    />
  </div>

  <div>
    <label for="password">Password</label>
    <input
      name="password"
      type="text"
      #password="ngModel"
      [(ngModel)]="model.password"
      required
    />

    <div>
      <label for="password2">Confirm password</label>
      <input
        name="password2"
        type="text"
        required
        #password2="ngModel"
        [(ngModel)]="model.password2"
      />
    </div>
  </div>
  <button type="reset">Reset</button>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
<hr />

<!-- ERROR PARAMETERS:  -->

<div>
  Form submitted ? {{ myForm.submitted }}<br />
  Form valid ? {{ myForm.valid }}<br />
  Form invalid ? {{ myForm.valid }}<br />
</div>

<div *ngIf="lastname.errors && myForm.submitted == true">
  <span *ngIf="lastname.errors?.['required']">"Last Name est requis"</span>
  <span *ngIf="lastname.errors?.['maxlength'] || lastname.errors?.['minlength']"
    >Le nombre de caractéres doit être comprise entre 3 et 25
  </span>
</div>

<div *ngIf="firstname.errors && myForm.submitted == true">
  <span *ngIf="firstname.errors?.['required']">"First Name est requis"</span>
  <span
    *ngIf="firstname.errors?.['maxlength'] || firstname.errors?.['minlength']"
    >Le nombre de caractéres doit être comprise entre 3 et 25
  </span>
</div>

<div *ngIf="birthday.errors && myForm.submitted == true">
  <span *ngIf="birthday.errors?.['required']">"Birthday est requis"</span>
</div>

<div *ngIf="contact.errors && myForm.submitted == true">
  <span *ngIf="contact.errors?.['required']">"Contact est requis"</span>
  <span *ngIf="contact.errors?.['email']">"le mail doit etre valide"</span>
</div>

<div *ngIf="password.errors && myForm.submitted == true">
  <span *ngIf="password.errors?.['required']">"Password est requis"</span>
</div>

<div *ngIf="password2.errors && myForm.submitted == true">
  <span *ngIf="password2.errors?.['required']">"password2 est requis"</span>
</div>
