<form>
  <div>
    <label for="title-order">Title</label>
    <input name="title-order" type="text" required maxlength="5" />
  </div>
  <div>
    <label for="quantity-order">Quantité</label>
    <input name="quantity-order" type="number" required />
  </div>
  <div>
    <label for="date-order">Date de commande</label>
    <input name="date-order" type="date" required />
  </div>
  <div>
    <label for="contact-order">Contact</label>
    <input name="contact-order" type="text" required email />
  </div>
  <button type="reset">Restaurer</button>
  <button type="submit">Sauvegarder</button>
</form>
